@import "../defaults/colors";
@import "../defaults/breakpoints";
@import "../components/utils";

footer { 
    @include background-stuff();
    .social-media {
        display: flex;
        justify-content: space-around;
        margin-bottom: 32px;

        a {
            i {
                color: rgb(141, 34, 228);
                font-size: 3vh;
            }
        }
        .info {
            color: rgb(161, 102, 209);
        }
    }
}

.info {
    color: rgb(161, 102, 209);
}

@media screen and (min-width: $medium) { 
    .social-media {
        width: 50%;
        margin-left: auto;
        margin-right: auto; 
    }
}